{% extends "base.html" %}
{% block content %}
    <h2 class="center">Hello, {{ user.username }}! </h2>
    <h3 class="center">Find a book to review:</h3>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
    <form class="center" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <br>
            {{ form.search(size=32) }} {{ form.submit() }}
        </p>
    </form>
{% endblock %}